.article_form
  .article_form__title
    編集画面
  = form_for @article do |f|
    = f.text_field :title, class: "title-field", placeholder: 'タイトル'
    = f.text_area :content, class: "content-field", placeholder: '本文'
    = f.submit '編集', class: "btn"