.contents
  .content
    .text
      本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文

    .lists-box
      %ul.lists
        %li.lists__list
          .lists__list--show
            = link_to do
              詳細
        %li.lists__list
          .lists__list--edit
            = link_to do
              編集
        %li.lists__list
          .lists__list--delete
            = link_to do
              削除