.contents{
  height: 100vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  .user_articles{
    margin: 10px auto 40px auto;
    font-size: x-large;
    text-align: center;
  }
  .content{
    height: 220px;
    background-color: lemonchiffon;
    border: double 4px darkolivegreen;
    padding: 20px;
    margin-bottom: 60px;
    position: relative;
    .title{
      font-weight: bold;
      font-size: x-large;
    }
    .user_name{
      margin-top: 20px;
      margin-bottom: 10px;
      display: flex;
      height: 25px;
      line-height: 25px;
      .user-info{
        display: flex;
        margin-left: 8px;
        &__image{
          margin-right: 4px;
          border-radius: 30px;
        }
      }
    }
    .text{
      overflow: hidden;
      overflow-wrap: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
    .lists-box{
      clear: both;
      width: 100%;
      float: left;
      padding-top: 30px;
      position: absolute;
      bottom: 10px;
      .lists{
        text-align: center;
        height: 45px;
        &__list{
          float: left;
          line-height: 45px;
          height: 45px;
          width: 100px;
          background-color: aqua;
          margin-right: 10px;
          font-size: 15px;
          font-weight: bold;
          border-radius: 8px;
          line-height: 45px;
          // &--icon{
          //   height: 30px;
          //   width: 100px;
          //   background-color: black;
          // }
        }
      }
    }
  }
}
