.header{
  width: -webkit-fill-available;
  height: 100px;
  background-color: aquamarine;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  position: fixed;
  z-index: 2;
  overflow: hidden;
  .header-left{
    float: left;
    height: 40px;
    width: 80px;
    padding-top: 30px;
    padding-right: 60px;
    scroll-padding-bottom: 30px;

    &__blog{
      text-align: center;
      line-height: 40px;
      font-size: 30px;
      font-weight: bold;
      &:visited{
        color: pink;
      }
    }
  }
  .header-name{
    float: left;
    margin-top: 10px;
    height: 80px;
    line-height: 80px;
  }
  .header-rigth{
    float: right;
    height: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    .lists{
      text-align: center;
      height: 20px;
      line-height: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      &__list{
        float: right;
        padding-left: 40px;
        line-height: 20px;
      }
    }
  }
}