.content-box{
  height: 100vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  .show-content{
    height: auto;
    background-color: lemonchiffon;
    border: double 4px darkolivegreen;
    padding: 20px;
    margin-bottom: 60px;
    position: relative;
    .title{
      font-weight: bold;
      font-size: x-large;
    }
    .user_name{
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .text{
      overflow-wrap: break-word;
    }
  }
  .comments{
    padding: 10px;
    border: groove;
    margin-top: 15px;
    .comment{
      margin-bottom: 10px;
    }
  }
}